.App{
    background-color: aqua;
    width: 100vw;
    height:300vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content:center;
        .nombre{
            font-size: 3rem;
        }
    
        .caja{
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 10px;
            background: rgb(153, 0, 255);
            transform-origin: 0%;
        }
    }
}
